<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cartorio Docket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <p class="my-5">
                <a href="/registries/index" class="btn btn-primary"><i
                        class="fas fa-plus ml-2"> Voltar ao inicio</i></a>
            </p>
            <div th:switch="${certificates}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">Ainda não existe certidão para este cartório</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="certificate : ${certificates}">
                                <td th:text="${certificate.name}"></td>
                                <td>
                                    <a th:href="@{/certificates/edit-form/{id}(id=${certificate.id})}"
                                       class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
                                </td>
                                <td>
                                    <a
                                        th:href="@{/certificates/delete/{id}(id=${certificate.id})}"
                                        class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
