<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cartorio Docket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${registries}" class="container my-5">
                <p class="my-5">
                    <a href="/registries/create-form" class="btn btn-primary"><i
                            class="fas fa-plus ml-2"> Adicionar cartório</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">Não existe cartório cadastrado</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>Adicionar certidão</th>
                                <th>Listar certidões</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="registry : ${registries}">
                                <td th:text="${registry.name}"></td>
                                <td th:text="${registry.address}"></td>
                                <td><a th:href="@{/certificates/create-form/{id}(id=${registry.id})}"
                                       class="btn btn-primary"><i class="fas fa-plus ml-2"></i></a>
                                </td>
                                <td><a
                                        th:href="@{/certificates/certificate-list/{id}(id=${registry.id})}"
                                        class="btn btn-primary"><i class="fas fa-list-alt ml-2"></i></a>
                                </td>
                                <td><a th:href="@{/registries/edit-form/{id}(id=${registry.id})}"
                                       class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a>
                                </td>
                                <td><a
                                        th:href="@{/registries/delete/{id}(id=${registry.id})}"
                                        class="btn btn-primary"><i class="fas fa-times ml-2"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
